annoy==1.15.2
gensim==3.6.0
ipykernel==5.1.0
ipython==7.5.0
jupyter==1.0.0
jupyterlab==0.35.5
h5py==2.9.0
Keras==2.2.4
matplotlib==3.0.3
notebook==6.4.10
numpy==1.16.3
pandas==0.24.2
pymongo==3.8.0
pyspark==2.4.3
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
tensorboard==1.13.1
tensorflow==1.15.4
torchbiggraph==1.dev1
tqdm==4.31.1
